@charset "utf-8";

#wrap { 
    position: relative;
    width: 100%;
    min-width: 320px;
    max-width: 420px;
}


#wrap > img {
    position: relative; 
    width: 100%;
    height: auto;
    opacity: 50%;
}

#wrap > .ta {
    display: none;
}

.game_utill h1 {
    position: absolute; 
    width: 100%; 
    top: 5px; 
    left: 130px;
    font-family: 'Kirang Haerang', cursive;
}

#result_area {
    position: absolute;
    top: 90px;
    width: 300px;
    text-align: center;
    margin-left: 57px;
    /* border: 1px solid #111;  */
    font-size: 20px;   
    font-weight: 200;
    font-family: 'Yeon Sung', cursive;
    
}

#chances_area {
    position: absolute;
    top: 140px;
    left: 140px;
    text-align: center;
    font-size: 28px;
    font-family: 'Yeon Sung', cursive;
    font-weight: 300;
}

#user_input, #play_button, #reset_button {
    position: absolute;
    top: 200px;
    opacity: 0.5;
    border: 2px solid black; 
    font-family: 'Kirang Haerang', cursive;
    font-weight: bold;
}
#user_input {
    left: 80px;
}
#play_button {
    right: 150px;
}
#reset_button {
    right: 105px;
}


@media (min-width: 768px) {
    #wrap {
        position: relative;
        max-width: 1259px;
    }

    img {
        position: absolute;
    }

    .game_utill h1 {
        position: absolute;
        width: 100%;
        left: 200px;
        text-align: center;
        font-size: 80px;
        /* text-align: center; */
    }    

    #wrap > .ta {
        position: absolute;
        top: 60%;
        left: 35%;
        display: block;
        width: 30%;
        height: auto;
        opacity: 1;
    }

    #result_area {
        position: absolute;
        top: 220%;
        left: 38%;
        font-size: 50px;   
        font-weight: 200;
        font-family: 'Yeon Sung', cursive;
    } 

    #chances_area {
        text-align: center;
        font-size: 40px;
        top : 50%;
    }
}
 


    @media (min-width: 1260px) {
        #wrap {
            max-width: 1920px;
        }
        h1 {
            font-size: 100px;
        }

    }
    
}