@charset "utf-8";
/* body {
    margin: 0;  기본적으로 들어간 마진값을 없앰 
    height: 100vh;
} */
#wrap {
    position: relative;
    width: 100%;
    min-width: 320px;
    max-width: 420px;
    height: 100vh;
}
.BG {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: pink; 
}
.BG_2 {
    position: absolute;
    top: 0; 
    left: 5%;
    justify-content: center;
    width: 88%;
    height: 95vh;
    border: 6px double indianred;
}
.game_utill {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0%; 
} 

.game_utill h1 {
    margin-top: 100px;
    font-family: 'Grandstander', cursive;
    font-size: 60px;
    text-align: center;
    color: brown;
}

#result_area {
    position: absolute;
    width: 250px;
    height: auto;  
    top: 330px;
    left: 60px; 
    padding: 90px 20px 90px 20px;
    font-family: 'Overpass', sans-serif;
    font-size: 60px;
    line-height: 55px;
    color: darkred;
    text-align: center;
    border: 5px solid darkred ;
    border-radius: 40%;
}

#chances_area {
    position: absolute;
    top: 150px;
    left: 140px;
    text-align: center;
    font-size: 28px;
    font-family: 'Yeon Sung', cursive;
    font-weight: 300;
}

#user_input,
#play_button,
#reset_button {
    position: absolute;
    top: 200px;
    opacity: 0.5;
    border: 2px solid black;
    font-family: 'Kirang Haerang', cursive;
    font-weight: bold;
}
#user_input {
    left: 80px;
}
#play_button {
    right: 150px;
}
#reset_button {
    right: 105px;
}

@media (min-width: 768px) {
    #wrap {
        position: relative;
        max-width: 1259px;
    }

    .game_utill {
        position: absolute;
        margin: 20px 30px 20px 30px;
    }

    .game_utill h1 {
        position: absolute;
        width: 100%;
        margin: 20px;
        text-align: center;
        font-size: 80px;
        text-align: center; }
        
    #result_area {
        position: absolute;
        top: 220%;
        left: 38%;
        font-size: 50px;
        font-weight: 200;
        font-family: 'Yeon Sung', cursive;
    }

    #chances_area {
        text-align: center;
        font-size: 40px;
        top: 50%;
    }
}

