@charset "utf-8";
body {
    position: relative;
    margin: 0;   
    background-color: pink;
}

#wrap {
    position: relative;
    width: 100%;
    min-width: 320px;
    max-width: 420px;
}
.border {
    position: absolute;
    width: 90%;
    margin: 10px;
    padding-bottom: 868px;
    border: 6px double indianred;
}

.game_utill {
    position: absolute;
    width: 100%;
    top: 0%;
}

.game_utill h1 {
    margin-top: 100px; 
    left: 50px;
    font-family: 'Grandstander', cursive;
    font-size: 60px;
    text-align: center;
    color: brown;
}

#result_area {
    position: absolute;
    width: 250px;
    left: 13%;  
    top: 250px;
    padding: 80px 10px 80px 10px;
    font-family: 'Overpass', sans-serif;
    font-size: 50px;
    color: darkred;
    text-align: center;
    border: 5px solid darkred ;
    border-radius: 40%;
}

#chances_area {
    position: absolute;
    top: 540px;
    left: 60px;
    text-align: center;
    font-size: 40px;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    color: darkred;
    
}
#user_input,
#play_button,
#reset_button {
    position: absolute;
    font-family: 'Grandstander', cursive;;
    font-weight: 500;
    text-align: center;
    font-size: 40px;
    color: darkred;
    border: 3px solid darkred;
    width: 130px;
    background-color: rgba(255, 255, 255, 0);
}
#user_input {
    top: 640px;
    left: 60px;
    height: 130px;
}

#play_button {
    top: 640px;
    left: 205px;
    height: 65px;
}
#reset_button {
    top: 713px;
    left: 205px;
    height: 65px;
}

@media (min-width: 768px) {
    #wrap {
        position: relative;
        max-width: 1259px;
    }

    .game_utill {
        position: absolute;
        margin: 20px 30px 20px 30px;
    }

    .game_utill h1 {
        position: absolute;
        width: 100%;
        text-align: center;
        font-size: 70px;
        text-align: center;
        border: 1px solid #111 }
        
    #result_area {
        position: absolute;
        top: 220%;
        left: 38%;
        font-size: 50px;
        font-weight: 200;
        font-family: 'Yeon Sung', cursive;
    }

    #chances_area {
        text-align: center;
        font-size: 40px;
        top: 50%;
    }
}

